body{
    margin: 0px;
    padding: 0px;
    background-color: white; 
    /* text-align: center;  */
}
.main{
    /* margin: 80px 580px 110px 585px; */
    height: 527px;
    width: 365px;
    margin: 20px auto 100px auto ;
    padding: 1px 1px 0px 1px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* h3{
    font-weight: 100;
} */
/*Header Part*/

.heading *{
    margin:0px;
    padding: 0px;
}
.heading{
    /*position: absolute;*/
    left :10px;
    padding: 5px;
    
}
.heading p{
    font-weight: 200px;
    font-size: small;
}
.minimise{
    /*position:absolute;*/
    left: 188px;
}
.maximize{
    /*position: absolute;*/
    left: 215px;
}
.close{
    /*position: absolute;*/
    left: 240px;
}

/*Sub heading*/

.sub-heading *{
    margin: 0px;
    padding: 0px;
}
.sub-heading{
    margin-top: 5px;
}
.sub-heading p{
    font-size:20px;
    font-weight: bold;
}
.hamburger_icon{
    left:10px;
    padding: 5px;
    top:3px;
}

.sub-heading{
    left: 20px;
    top:3px;
}

.previous_result{
    left:218px;
    top:3px;
}

/* Calculation view*/
.calculation-view{
    height: 90px;

}
.pre-calculation *{
    margin: 0;
}
.pre-calculation{
    /* padding: 10px; */
    margin:5px 10px;
    /* font-size: 15px; */
    text-align: right;
    height: 30px;
}
.pre-calculation p{
    font-size: 15px;
}
.calculation{
    margin-top: 2px;
    height: 50px;
    text-align: right;
}
.calculation *{
    margin: 0;
}
.calculation p{
    font-weight: 700;
    font-size: 50px;
    margin-right:5px ;
    /* padding: 5px; */
}

/*ALL KEYS*/

.all-keys{
    margin: 1px;
    /* position: relative; */
    /* top:43px; */ 
}
.key-row{
    margin-bottom: 1px;
}
/* 1st Line Of KEY */
.row-one{
    margin-top: 17px ;
    margin-bottom: 5px;
}

.fkeys *{
    margin: 0px;
}
.fkeys{
    height: 40px;
    width : 59px;
    text-align: center;

}
/* Keys */
.keys *{
    margin:0px;
}
.keys{
    height: 50px;
    width: 87.5px;
    margin-left: 1px;
    margin-right: 1px;
    /* background-color: white; */
    text-align: center;    
}

.fkeys span p{
    font-size: 0.8rem;
    font-weight: 200;
}
.fkeys-not-transparent  span p{
    font-weight: 550;
}

.element{
    top:13px;
}
.row-one-highlight{
    top: 13px;
    
}
.element h3{
    font-size: 1rem;
    font-weight:550;
}
.element-font-weight{
    font-weight: 300;
}
 .keys:hover{
     background-color:rgba(170, 155, 155,0.5) ;
     border: 1px solid grey;
     /* opacity: 60%; */
 }
 .fkeys:hover{
     background-color: rgba(170, 155, 155,0.5);
     border: 1px solid grey;
 }
.keys, .fkeys{
    cursor: pointer;
}
/*Special*/
.flex-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
.flex-row-conatiner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.no-margin-padding{
    margin: 0px;
    padding: 0px;

}
.pos-relative{
    position: relative;
}
.show div{
    display: inline-block;
}
.grey{
    background-color: rgba(243, 243, 243)
}
.grey-opac{
    background-color: rgba(255,255,255,0);
}
.white-opac{
    background-color: rgba(255,255,255,0.6);
}
.white{
    background-color: rgba(255, 255, 255, 1);
}
.bottom-mar{
    margin-bottom: 0px;
}
.opac{
    opacity: 60%;
}
.not-opac{
    opacity: 50%;
}
.blue{
    background-color: rgb(165, 204, 236);
}
.divide{
    font-size: 1.7rem;
    color: rgb(66, 61, 61);
}
.equal{
    font-size: 1.5rem;
}
.multiplication{
    font-size: 0.8rem;
    font-weight: 551;
}
