body{
    margin: 0px;
    padding: 0px;
    background-color: white; 
    /* text-align: center;  */
}
.main{
    /* margin: 80px 580px 110px 585px; */
    height: 539px;
    width: 370px;
    margin: 20px auto 100px auto ;
    padding: 1px 1px 0px 1px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header Part*/

.heading *{
    margin:0px;
    padding: 0px;
}
.heading{
    /*position: absolute;*/
    left :10px;
    padding: 5px;
    
}
.heading p{
    font-weight: 200px;
    font-size: small;
}
.minimise{
    /*position:absolute;*/
    left: 170px;
}
.maximize{
    /*position: absolute;*/
    left: 200px;
}
.close{
    /*position: absolute;*/
    left: 230px;

}

/*Sub heading*/



.sub-heading *{
    margin: 0px;
    padding: 0px;
}
.sub-heading{
    margin-top: 5px;
}
.sub-heading p{
    font-size:20px;
    font-weight: 500;
}
.hamburger_icon{
    left:10px;
    padding: 5px;
    top:3px;
}

.sub-heading{
    left: 20px;
    top:3px;
}

.previous_result{
    left:205px;
    top:3px;
}

/* Calculation view*/


.pre-calculation{
    /* padding: 10px; */
    margin: 10px 5px 10px 10px;
    /* margin-right: 5px; */
    left: 335px;
}
.calculation{
    margin-top: 0px;
    left:335px
}
.calculation span{
    font-weight: 700;
    font-size: 50px;
    /* padding: 5px; */
}

/*ALL KEYS*/

.all-keys{
    margin: 2px;
}


.key-row{
    margin-bottom: 2px;
}
/* 1st Line Of KEY */
.row-one{
    margin-top: 17px ;
    margin-bottom: 5px;
}
.fkeys *{
    margin: 0px;
}
.fkeys{
    height: 40px;
    width : 70px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: white;
    text-align: center;

}
/* Keys */
.keys *{
    margin:0px;
}
.keys{
    height: 50px;
    width: 87.5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: white;
    text-align: center;    
}
.element{
    top:10px;
}


/*Special*/
.flex-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
.flex-row-conatiner{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.no-margin-padding{
    margin: 0px;
    padding: 0px;

}
.pos-relative{
    position: relative;
}
.show div{
    display: inline-block;
}
.grey{
    background-color: #f3f3f3;
}